b{
  color: #525252;
}
h4{
   color: #525252;
}
 
 
*{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body{
  overflow-x: hidden;
  background-color: #F2F7FE; /* Black*/
}

.enre{
  margin-left: 13px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 15%; /* 0 width - change this with JavaScript */
    position: fixed;
    background-color: #FFFFFF; /* Black*/
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #525252;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #4134f0;
  }
label{
  color: rgb(143, 143, 143);
}

.marginspace{
  margin-bottom: 50px;
}

.con{
    box-shadow: 2px 2px 2px 0px #e0dede;
    border-radius:5px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF /* Black*/
  }


.submitm{
  margin-left: 15px;
}


@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
  float: left;
  width: 30%;
  max-width: 100%; } }
  
  .carousel-multi-item-2 .card img {
  border-radius: 2px; }

  .navitem{
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  .sidenav a {
    padding: 8px 8px 8px 10px;
 
}
  .nav-link{
    padding: 10px;
  }


.list-group{
    background-color : #becde9;
    padding: 5px;
  }


  .modal-lg, .modal-xl {
    max-width: 900px;
}