body{
  overflow-x: hidden;
  background-color: #F2F7FE; /* Black*/
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
   
    background-color: #FFFFFF; /* Black*/
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }


  .con{
    border-radius:5px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #FFFFFF /* Black*/
  }