b{
  color: #525252;
}
h4{
   color: #525252;
}
 
* {
  font-family: 'Roboto';
 
}

body{
  overflow-x: hidden;
  background-color: #F2F7FE; /* Black*/
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 15%; /* 0 width - change this with JavaScript */
    position: fixed;
    background-color: #FFFFFF; /* Black*/
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #525252;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #4134f0;
  }
label{
  color: rgb(143, 143, 143);
}

.marginspace{
  margin-bottom: 50px;
}

.con{
    box-shadow: 2px 2px 2px 0px #e0dede;
    border-radius:5px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF /* Black*/
  }


.submitm{
  margin-left: 15px;
}


